<div class="desktop-filters-header filters-content-wrapper__filters-header" data-v-06744348="" data-v-6d935d4c="">
    <div class="desktop-filters-header__content" data-v-6d935d4c="">
        <i class="filters-icon sprite desktop-filters-header__content__icon" data-v-6d935d4c="" data-v-22823e8c="">
            <!---->
        </i>Filtrovať podľa:
    </div><i class="arrow arrow--primary arrow--rotated" data-v-6d935d4c="" data-v-d5fef832=""></i>
</div>
<div class="filters-content filters-content-wrapper__desktop-filters" data-cy="filters-content" data-v-4b54aa92=""
    data-v-068ef708="" data-v-06744348="">
    <div class="slider-group filters-content__group" data-v-2812c6a8="" data-v-4b54aa92="">
        <div class="slider-group__title" data-cy="filter-group-label" data-v-2812c6a8="">Cena jedla
            <i class="info-icon sprite" data-v-179b8370="" data-v-2812c6a8=""></i>
        </div>
        <div class="number-input-pair slider-group__inputs" data-v-5db7d756="" data-v-2812c6a8="">
            <div class="number-input" data-v-1a22e8b5="" data-v-5db7d756="">
                <input class="number-input__input" type="text" data-v-1a22e8b5="">
                <span class="number-input__unit" data-v-1a22e8b5="">€</span>
            </div>
            <span class="number-input-pair__separator" data-v-5db7d756="">-</span>
            <div class="number-input" data-v-1a22e8b5="" data-v-5db7d756="">
                <input class="number-input__input" type="text" data-v-1a22e8b5="">
                <span class="number-input__unit" data-v-1a22e8b5="">€</span>
            </div>
        </div>
        <div class="range-slider slider-group__slider" step="0.5" data-v-2e71552c="" data-v-2812c6a8="">
            <div class="range-slider__full-line" data-v-2e71552c="">
                <div class="slider-pointer range-slider__pointer" data-v-b78ec7c0="" data-v-2e71552c=""
                    style="left: 0%;">
                    <div class="slider-pointer__outer" data-v-b78ec7c0=""></div>
                </div>
                <div class="slider-pointer range-slider__pointer" data-v-b78ec7c0="" data-v-2e71552c=""
                    style="left: 100%;">
                    <div class="slider-pointer__outer" data-v-b78ec7c0=""></div>
                </div>
                <div class="range-slider__range-line" data-v-2e71552c="" style="left: 0%; width: 100%;"></div>
            </div>
        </div>
    </div>
    <div class="item-filter-group radio-group filters-content__group" data-v-d32a33ec="" data-v-6b20dba0=""
        data-v-4b54aa92="">
        <strong class="item-filter-group__label" data-cy="filter-group-label" data-v-d32a33ec="">Čas doručenia
            <!---->
        </strong>
        <div class="item-filter-group__item" data-v-d32a33ec="">
            <input id="30" type="radio" class="radio radio-group__input" value="30" data-v-1320bc5b=""
                data-v-6b20dba0="">
            <label for="30" class="item-filter-group__item__label" data-v-d32a33ec="">Doručenie do 30 min
                <span class="item-filter-group__item__label__count" data-v-d32a33ec="">(0)</span>
                <!---->
            </label>
        </div>
        <div class="item-filter-group__item" data-v-d32a33ec="">
            <input id="45" type="radio" class="radio radio-group__input" value="45" data-v-1320bc5b=""
                data-v-6b20dba0="">
            <label for="45" class="item-filter-group__item__label" data-v-d32a33ec="">Doručenie do 45 min
                <span class="item-filter-group__item__label__count" data-v-d32a33ec="">(43)</span>
                <!---->
            </label>
        </div>
        <div class="item-filter-group__item" data-v-d32a33ec="">
            <input id="60" type="radio" class="radio radio-group__input" value="60" data-v-1320bc5b=""
                data-v-6b20dba0="">
            <label for="60" class="item-filter-group__item__label" data-v-d32a33ec="">Doručenie do 60 min
                <span class="item-filter-group__item__label__count" data-v-d32a33ec="">(69)</span>
                <!---->
            </label>
        </div>
    </div>
</div>
<a href="#" class="filters-clear filters-content__clear" data-v-c48e5b3a="" data-v-4b54aa92="">Vymazať všetko</a>
<div class="desktop-filters-hint" data-v-068ef708="" style="top: -306px; display: none;"></div>
