div {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

button{
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
}

img {
  display: inline-block;
    vertical-align: middle;
    max-width: 50%;
    height: auto;
    height: 50%;
    width: 50%;
    object-fit: cover;
    object-position: 50% 50%;
}


* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
  }
  section {
    width: 60vw;
    height: 70vh;
    background-color: white;
    padding: 3rem 4rem;
    overflow-y: scroll;
  }
  section::-webkit-scrollbar {
    width: 8px;
  }
  section::-webkit-scrollbar-thumb {
    background-color: grey;
  }
  section::-webkit-scrollbar-track {
    background-color: white;
  }
  .main__card__padding {
    width: 100%;
    min-height: 250px;
    height: auto;
    background-color: cornflowerblue;
    border-radius: 1.5rem;
    padding: 1.5rem;
    display: grid;
    grid-template:
      "title photo" minmax(min-content, 2rem)
      "content photo" auto / 3fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  .card__title {
    grid-area: title;
    max-width: 100%;
    border-radius: 1.5rem;
    display: grid;
    place-items: center;
    background-color: cornsilk;
  }
  .card__photo {
    grid-area: photo;
    max-width: 100%;
    border-radius: 1.5rem;
    display: grid;
    place-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: cornsilk;
  }
  .card__text {
    grid-area: content;
    background-color: cornsilk;
    max-width: 100%;
    border-radius: 1.5rem;
    display: grid;
    place-items: center;
  }

 .pale {
     display: flex;
     background-color: rgb(255, 255, 255);
 }
 
 .Venue-module__container___vJcWL{
   position: relative;
   max-width: 1200px;
   padding: 0 30px;
   width: 100%;
   display: grid;
   grid-template-columns: 13.5% 4% 53.5% 4% 25%;
 }

 .Venue-module__container___vJcWL .Venue-module__left___l1XkR, .Venue-module__container___vJcWL .Venue-module__categories___Lp8Or{
  grid-column: 1;
  grid-column-start: 1;
 }

 .noRtl{
  direction: ltr;
 }

 .Categories-module__root___qegos{
  font-weight: 500;
  margin-bottom: 1rem;
  margin: 0;
  position: sticky;
  top: 140px;
  max-height: calc(100vh - 140px);
 }

 .Categories-module__listItem___RjQkC{
  list-style: none;
  font-size: .875rem;
 }

 .Categories-module__categoryLink___WM_5v{
   color: rgba(32,33,37,0.64);
   cursor: pointer;
   line-height: initial;
   display: flex;
 }

 .VenueSideInfo-module__venueInformation___GimMp{
   padding-left: 2.5rem;
   grid-column: 5;
 }

 .jcpkhT{
   font-feature-settings: "kern", "ss01", "ss05", "ss07";
   font-size: 1.25rem;
   line-height: 1.5rem;
   margin-block-end: 2rem;
 }

 .kqsQLn{
   font-feature-settings: "kern";
   font-size: 1rem;
   line-height: 1.5rem;
   font-weight: 700;
   margin-block-end: 0.5rem;
 }

 .VenueSideInfo-module__venueInformation___GimMp .VenueSideInfo-module__venueAddress___W71Q7{
   padding-left: 0;
   font-size: .875rem;
 }

 .VenueSideInfo-module__venueInformation___GimMp .VenueSideInfo-module__primary___xK8q{
   padding-left: 0;
   font-weight: 400;
   margin-bottom: 0.25rem;
 }

 .VenueSideInfo-module__venueInformation___GimMp .VenueSideInfo-module__secondary___Kuira{
   padding-left: 0;
   color: rgba(32,33,37,0.64);
   margin-bottom: 1rem;
 }
 
 .VenueSideInfo-module__venueInfoLink___jX82l{
   color: #009de0;
   display: flex;
   align-items: center;
 }

.flash{
   margin-block-start: 2rem;
 }

 .VenueSideInfo-module__tabs___BP5Ux{
   margin-bottom: 1.25rem;
 }

.Tabs-module__root___BlE6W{
  width: 100%;
}

.TabHeaders-module__tabHeaders___BCI8U{
  padding-left: 0;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.TabHeaders-module__button___odwaS .TabHeaders-module__active___hSMYm{
  color: rgba(32,33,37,1);
}

.TabHeaders-module__button___odwaS{
  color: rgba(32,33,37,0.64);
  cursor: pointer;
  margin-bottom: 4px;
  margin-left: 0;
  margin-right: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 1rem;
  overflow: hidden;
  line-height: 1.2;
}

.TabHeaders-module__button___odwaS:nth-last-child(2){
  margin-right: 0;
  margin-inline-end: 0;
}

.Tabs-module__content___nhLRI{
  position: relative;
  width: 100%;
}

.Tabs-module__tabTrack___BkpHY{
  width: 100%;
  display: flex;
}

.Tabs-module__tab___vwbE2{
  width: 100%;
  margin-left: 0;
  margin-right: 16px;
  margin-inline-start: 0;
  margin-inline-end: 16px;
  flex: 0 0 auto;
}

.VenueSideInfo-module__tabsPanel___kZI6x{
  padding: 1rem;
}

.eQWovX {
  display: flex;
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
  font-weight: 400;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0px 0px 0.6rem;
}

.dAMkUi {
  color: rgba(32, 33, 37, 0.64);
  text-align: end;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  text-transform: capitalize;
  display: block;
}

.ciMvrd {
  position: fixed;
  inset: 0px;
  color: rgb(32, 33, 37);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.dMVCoo {
  border-radius: 1rem;
  max-height: min(62.5rem, 866px);
  flex: 1 1 0%;
  overflow: hidden;
  max-width: min(32.5rem, 90vw);
}

.ciMvrd {
  position: fixed;
  inset: 0px;
  color: rgb(32, 33, 37);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
}

.laHlZA{
  border-radius: 1rem;
  max-height: min(62.5rem, 923px);
  flex: 1 1 0%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 6%) 0px 0px 1rem 0px, rgb(0 0 0 / 12%) 0px 1rem 1rem 0px;
  max-width: min(32.5rem, 90vw);
}

.kmBAaf {
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: 636px;
  transition: height 500ms cubic-bezier(0.33, 1, 0.68, 1) 100ms;
  will-change: transform;
}

.dFpgVE{
  left: auto;
  right: 1rem;
}

.garyHo{
  z-index: 100;
  position: absolute;
  top: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.gqQOZK:not(:disabled) {
  cursor: pointer;
}

.gqQOZK {
  padding: 0px;
  border: none;
  background: none rgba(32, 33, 37, 0.08);
  position: relative;
  flex-shrink: 0;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  transition: background-color 120ms ease-out 0s;
}

.cCWOkP {
  position: relative;
  z-index: 0;
  overflow-y: hidden;
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}

.bkSVEh {
  z-index: 20;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 4.5rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-inline: 4.5rem;
  transition: box-shadow 120ms ease-in 0s, background-color 120ms ease-in 0s;
}

.joYQDh {
  color: rgb(32, 33, 37);
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
  font-weight: 500;
  text-align: center;
}

.ps {
  overflow: hidden!important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

.cUsmwT {
  position: relative;
  z-index: 1;
  flex: 1 1 0%;
  padding-top: 0rem;
  overflow-y: hidden;
}

.light {
  overflow: hidden;
    width: 100%;
    padding-top: 66.6667%;
    position: relative;
}

.entry {
  position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transform-origin: center bottom;
    opacity: 1;
    height: 335.333px;
}

.wide {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.hQwdzY {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 5.375rem;
}

.cZOFIZ {
  padding-inline: 1rem;
}

.dHHvDw {
  font-feature-settings: "kern", "ss01", "ss05", "ss07";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: WoltHeading-Omnes, system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", sans-serif;
  font-variant-ligatures: common-ligatures;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
  color: rgb(32, 33, 37);
  margin: 0px;
}

.jvUBPH {
  margin-block-start: 1rem;
}

.koOESE {
  display: flex;
  align-items: flex-start;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.bkunPl {
  display: flex;
  flex-wrap: wrap;
  margin: -0.375rem;
}

.bkunPl > * {
  margin: 0.375rem;
}

.fFRjEd {
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
  font-weight: 500;
  color: rgb(0, 157, 224);
}

.gWca-Do {
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
  font-weight: 400;
  color: rgb(32, 33, 37);
  margin-top: 2rem;
  margin-bottom: 0px;
  white-space: pre-wrap;
}

.elwDda {
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.fsahNw {
  padding-inline: 1rem;
}

.jFyoyf {
  width: 100%;
  position: relative;
}

.iGibFB {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: minmax(8.5rem, 1fr) 2fr;
}

.gkvIwU {
  min-width: 8.5rem;
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  transition: box-shadow 120ms ease-in 0s;
  box-shadow: rgb(0 0 0 / 6%) 0px 0px 0.75rem 0px, rgb(0 0 0 / 12%) 0px 0.75rem 0.75rem 0px;
}

.dVSJWa {
  height: 1px;
  margin: -1px;
  width: 1px;
  position: absolute;
  border: 0px;
  padding: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
  overflow: hidden;
}

.eMTXUl {
  height: 1px;
  margin: -1px;
  width: 1px;
  position: absolute;
  border: 0px;
  padding: 0px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  white-space: nowrap;
  overflow: hidden;
}

.lgQfpP {
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
  font-weight: 400;
  background-color: rgba(0, 157, 224, 0.08);
  border-radius: 0.5rem;
  color: rgba(0, 157, 224, 0.96);
  text-align: center;
  display: grid;
  grid-template-columns: 2.875rem auto 2.875rem;
  padding: 0.25rem;
  -webkit-box-align: center;
  align-items: center;
}

.eIuYMw:disabled, .eIuYMw.disabled {
  cursor: not-allowed;
}

.eIuYMw {
  -webkit-tap-highlight-color: transparent;
  border: none;
  outline: none;
  height: 2.875rem;
  width: 2.875rem;
  cursor: pointer;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  transition: transform 0.2s ease-out 0s;
}

.eIuYMw svg {
  height: 1.5rem;
  width: 1.5rem;
  overflow: visible;
}

.eIuYMw:disabled circle, .eIuYMw.disabled circle {
  fill: transparent;
}

.eIuYMw circle {
  fill: rgb(255, 255, 255);
}

.lklFHZ {
    transition: box-shadow 120ms ease-in 0s;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 6%) 0px 0px 0.75rem 0px, rgb(0 0 0 / 12%) 0px 0.75rem 0.75rem 0px;
}

.dfBAzc {
    border: none;
    position: relative;
    z-index: 0;
    user-select: none;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    padding: 0px 1rem;
    min-height: 3.375rem;
    border-radius: 0.5rem;
    background: transparent;
    color: rgb(255, 255, 255);
}

.dfBAzc .Button__BG-sc-a3fg5q-1 {
  transition: background-color 120ms ease-out 0s;
  background: rgb(0, 157, 224);
}

.dqtaej {
  position: absolute;
  inset: 0px;
  border-radius: 0.5rem;
}

.hrUzBx {
  position: absolute;
  inset: 0px;
  z-index: 1;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.kFJzop {
  flex: 1 1 0%;
  z-index: 1;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  transition: opacity 150ms ease-in 0s;
  border-radius: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.gvaZLo {
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
  font-weight: 700;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.zMeiD {
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
  font-weight: 500;
}

.Adding_button{
  background-color: #ff7300;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10%;
  transition-duration: 0.4s;
}

.Adding_button:hover {
  background-color: #ff7300;
  color: white;
}
