<html lang="en">
<body>
    <div class="Venue-module_menu pale">
        <div class="Description-module_wrapper_story">
            <div class="Description-module__overlay___LXqwP Venue-module__container___vJcWL">
            <div class="Venue-module__container___vJcWL">
                <nav class="Venue-module__container___vJcWL Venue-module__categories___Lp8Or noRtl">
                   <ul class="Categories-module__root___qegos">
                      <li class="Categories-module__listItem___RjQkC">
                         <a data-test-id="Burger" href class="Categories-module__categoryLink___WM_5v">
                            <span>Burger</span>
                         </a>
                      </li>
                      <li class="Categories-module__listItem___RjQkC">
                        <a data-test-id="Burger" href class="Categories-module__categoryLink___WM_5v">
                           <span>Burger</span>
                        </a>
                     </li>
                     <li class="Categories-module__listItem___RjQkC">
                        <a data-test-id="Burger" href class="Categories-module__categoryLink___WM_5v">
                           <span>Burger</span>
                        </a>
                     </li>
                     <li class="Categories-module__listItem___RjQkC">
                        <a data-test-id="Burger" href class="Categories-module__categoryLink___WM_5v">
                           <span>Burger</span>
                        </a>
                     </li>
                     <li class="Categories-module__listItem___RjQkC">
                        <a data-test-id="Burger" href class="Categories-module__categoryLink___WM_5v">
                           <span>Burger</span>
                        </a>
                     </li>
                     <li class="Categories-module__listItem___RjQkC">
                        <a data-test-id="Burger" href class="Categories-module__categoryLink___WM_5v">
                           <span>Burger</span>
                        </a>
                     </li>
                   </ul>
                </nav>
            </div>
        </div>
    </div>
   <section>
      <div class="main__card__padding">
         <div class="card__title">
            <div class="title__content">
               <b>AHOJ</b>
            </div>
         </div>
         <div class="card__photo">
            <div class="photo__content">
               <b>ahoj</b>
            </div>
         </div>
         <div class="card__text">
            <div class="text__content">
               <b>ahoj</b>
            </div>
         </div>
      </div>
      <div class="main__card__padding">
         <div class="card__title">
            <div class="title__content">
               <b>AHOJ</b>
            </div>
         </div>
         <div class="card__photo">
            <div class="photo__content">
               <b>ahoj</b>
            </div>
         </div>
         <div class="card__text">
            <div class="text__content">
               <b>ahoj</b>
            </div>
         </div>
      </div>
      <div class="main__card__padding">
         <div class="card__title">
            <div class="title__content">
               <b>AHOJ</b>
            </div>
         </div>
         <div class="card__photo">
            <div class="photo__content">
               <b>ahoj</b>
            </div>
         </div>
         <div class="card__text">
            <div class="text__content">
               <b>ahoj</b>
            </div>
         </div>
      </div>
      <div class="main__card__padding">
         <div class="card__title">
            <div class="title__content">
               <b>AHOJ</b>
            </div>
         </div>
         <div class="card__photo">
            <div class="photo__content">
               <b>ahoj</b>
            </div>
         </div>
         <div class="card__text">
            <div class="text__content">
               <b>ahoj</b>
            </div>
         </div>
      </div>
   </section>
</div>
</body>
</html>