<div class="container">
    <div class="row flex-center mb-6">
      <div class="col-lg-7">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm text-center text-lg-start">Search by Food</h5>
      </div>
    <div class="col-lg-auto position-relative">
    </div>
    </div>
    <div class="row flex-center">
      <div class="col-12">
        <div class="carousel slide" id="carouselSearchByFood" data-bs-touch="false" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row h-100 align-items-center">
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle">
                      <a routerLink="/pizzarestaurants"><img class="img-fluid rounded-circle h-100" src="assets/img/gallery/search-pizza.png" alt="Pizza" /></a>
                    <div class="card-body ps-0">
                      <h5 class="text-center fw-bold text-1000 text-truncate mb-2">Pizza</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle">
                    <a routerLink="/burgerrestaurants"><img class="img-fluid rounded-circle h-100" src="assets/img/gallery/burger.png" alt="Burger" /></a>
                    <div class="card-body ps-0">
                      <h5 class="text-center fw-bold text-1000 text-truncate mb-2">Burger</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle">
                    <a routerLink="/noodlerestaurants"><img class="img-fluid rounded-circle h-100" src="assets/img/gallery/noodles.png" alt="..." /></a>
                    <div class="card-body ps-0">
                      <h5 class="text-center fw-bold text-1000 text-truncate mb-2">Noodles</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle">
                    <a routerLink="/sandwichrestaurants"><img class="img-fluid rounded-circle h-100" src="assets/img/gallery/sub-sandwich.png" alt="..." /></a>
                    <div class="card-body ps-0">
                      <h5 class="text-center fw-bold text-1000 text-truncate mb-2">Sandwiches</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle">
                    <a routerLink="/breakfast"><img class="img-fluid rounded-circle h-100" src="assets/img/gallery/breakfast.jpg" alt="..." /></a>
                    <div class="card-body ps-0">
                      <h5 class="text-center fw-bold text-1000 text-truncate mb-2">Breakfast</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle"><img class="img-fluid rounded-circle h-100" src="assets/img/gallery/steak.png" alt="..." />
                    <div class="card-body ps-0">
                      <h5 class="text-center fw-bold text-1000 text-truncate mb-2">Steak</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>