.card-span {
    border: 0;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline {
    width: 0.625em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em;
}