<div class="container">
    <div class="row flex-center mb-6">
      <div class="col-lg-7">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm text-center text-lg-start">Search by Food</h5>
      </div>
      <div class="col-lg-4 text-lg-end text-center">VIEW ALL 
          <svg class="svg-inline--fa fa-chevron-right fa-w-10 ms-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
        </svg>
    </div>
    <div class="col-lg-auto position-relative">
        <button class="carousel-control-prev s-icon-prev carousel-icon" type="button" data-bs-target="#carouselSearchByFood" data-bs-slide="prev">
            <span class="carousel-control-prev-icon hover-top-shadow" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
    </div>
    </div>
    <div class="row flex-center">
      <div class="col-12">
        <div class="carousel slide" id="carouselSearchByFood" data-bs-touch="false" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row h-100 align-items-center">
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle">
                      <a routerLink="/restaurants"><img class="img-fluid rounded-circle h-100" src="assets/img/gallery/search-pizza.png" alt="Pizza" /></a>
                    <div class="card-body ps-0">
                      <h5 class="text-center fw-bold text-1000 text-truncate mb-2">Pizza</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle"><img class="img-fluid rounded-circle h-100" src="assets/img/gallery/burger.png" alt="..." />
                    <div class="card-body ps-0">
                      <h5 class="text-center fw-bold text-1000 text-truncate mb-2">Burger</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle"><img class="img-fluid rounded-circle h-100" src="assets/img/gallery/noodles.png" alt="..." />
                    <div class="card-body ps-0">
                      <h5 class="text-center fw-bold text-1000 text-truncate mb-2">Noodles</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle"><img class="img-fluid rounded-circle h-100" src="assets/img/gallery/sub-sandwich.png" alt="..." />
                    <div class="card-body ps-0">
                      <h5 class="text-center fw-bold text-1000 text-truncate mb-2">Sub-sandwiches</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle"><img class="img-fluid rounded-circle h-100" src="assets/img/gallery/chowmein.png" alt="..." />
                    <div class="card-body ps-0">
                      <h5 class="text-center fw-bold text-1000 text-truncate mb-2">Chowmein</h5>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle"><img class="img-fluid rounded-circle h-100" src="assets/img/gallery/steak.png" alt="..." />
                    <div class="card-body ps-0">
                      <h5 class="text-center fw-bold text-1000 text-truncate mb-2">Steak</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>