<div class="container">
    <div class="row flex-center mb-6">
      <div class="col-lg-7">
        <h5 class="fw-bold fs-3 fs-lg-5 lh-sm text-center text-lg-start">Order food from this cities</h5>
      </div>
    <div class="col-lg-auto position-relative">
    </div>
    </div>
    <div class="row flex-center">
      <div class="col-12">
        <div class="carousel slide" id="carouselSearchByFood" data-bs-touch="false" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <div class="row h-100 align-items-center">
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100 godplease">
                  <div id="card card-span h-100 rounded-circle" style="width: auto;">
                      <a routerLink="/restaurants/:Bratislava"><img class="img-fluid rounded-circle h-100" src="assets/img/Cities/Bratislava_city.jpg" alt="Bratislava" /></a>
                      <h5 id="card-body" class="text-center fw-bold text-1000 text-truncate mb-2">Bratislava</h5>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100 godplease">
                  <div class="card card-span h-100 rounded-circle">
                    <a routerLink="/restaurants/:Košice"><img class="img-fluid rounded-circle h-100" src="assets/img/Cities/Kosice_city.jpg" alt="Košice" /></a>
                    <h5 id="card-body" class="text-center fw-bold text-1000 text-truncate mb-2">Košice</h5>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle godplease">
                    <a routerLink="/restaurants/:Banská_Bystrica"><img class="img-fluid rounded-circle h-100" src="assets/img/Cities/BB_city.jpg" alt="Banská Bystrica" /></a>
                      <h5 id="card-body" class="text-center fw-bold text-1000 text-truncate mb-2">Banská Bystrica</h5>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle godplease">
                    <a routerLink="/restaurants/:Prešov"><img class="img-fluid rounded-circle h-100" src="assets/img/Cities/Presov_city.jpg" alt="Prešov" /></a>
                      <h5 id="card-body" class="text-center fw-bold text-1000 text-truncate mb-2">Prešov</h5>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle godplease">
                    <a routerLink="/restaurants/:Žilina"><img class="img-fluid rounded-circle h-100" src="assets/img/Cities/Zilina_city.jpg" alt="Žilina" /></a>
                      <h5 id="card-body" class="text-center fw-bold text-1000 text-truncate mb-2">Žilina</h5>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-xl mb-5 h-100">
                  <div class="card card-span h-100 rounded-circle godplease">
                    <a routerLink="/restaurants/Nitra"><img class="img-fluid rounded-circle h-100" src="assets/img/Cities/Nitra_city.jpg" alt="Nitra" /></a>
                      <h5 id="card-body" class="text-center fw-bold text-1000 text-truncate mb-2">Nitra</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>
    </div>