img{
    margin-inline: auto !important;
}
.card-span {
    border: 0;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline {
    width: 0.625em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -0.125em;
}
.fs-3 {
    padding: block;
}

#card {
  width:200px;
  height:300px;
  background-position:center;
  background-size:cover;
  border-radius:100px;
  position:relative;
}
#card-body_center{
    width: max-content;
    height: auto;
}
#card-body {
  position:absolute;
  content:"";
  width:max-content;
  height:max-content;
  bottom:0;
  left:50%;
  background-color:rgb(204, 163, 0);
  padding:0.75rem 1.25rem;
  border-radius:20px;
  color:white;
  transform: translate(-50%,75%);
}
.godplease{
    display: grid;
    place-items: center;
}