div {
    margin: 0;
    padding: 0;
}

.original {
    max-width: 1200px;
    margin: 0px auto;
    padding: 2rem var(--side-padding) 0;
}

.flat {
    padding-bottom: 1.25rem;
}

.status {
    font-feature-settings: "kern", "ss01", "ss05", "ss07";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.875rem;
    line-height: 3.5rem;
    font-weight: 700;
    margin: 0px;
}

.light {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    gap: 1rem;
}

.inverse {
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 6%) 0px 0px 0.125rem 0px;
    transition: box-shadow 0.3s;
}

.flash {
    z-index: 0;
    position: relative;
    border-radius: 0.5rem 0.5rem 0px 0px;
    overflow: hidden;
}

.badge {
    background-image: url("breakfast-restaurant.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.3s;
    width: 100%;
    padding-top: 46%;
    transform: scale3d(1, 1, 1);
    will-change: transform;
}

.media {
    position: relative;
}

.module {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.notice {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.default {
    background-size: cover;
    background-position: center center;
}

.flash {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.action {
    flex-direction: column;
}

.pale {
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin: 0px;
    color: rgb(32, 33, 37);
}

.twisted {
    font-size: 0.875rem;
    color: rgba(32, 33, 37, 0.64);
    margin: 0.25rem 0px 0px;
}

.story {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 1rem;
}

.article {
    padding: 0.25rem 0.5rem;
    background-color: rgba(255, 145, 0, 0.08);
    color: rgb(255, 166, 0);
}

.record {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.loading {
    font-size: 0.75rem;
    color: rgba(255, 145, 0, 0.64);
}