<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
      <div class="loginbackground box-background--white padding-top--64">
        <div class="loginbackground-gridContainer">
          <div class="box-root flex-flex" style="grid-area: top / start / 8 / end;">
            <div class="box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;">
            </div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 2 / auto / 5;">
            <div class="box-root box-divider--light-all-2 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 6 / start / auto / 2;">
            <div class="box-root box-background--blue800" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 7 / start / auto / 4;">
            <div class="box-root box-background--blue animationLeftRight" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 8 / 4 / auto / 6;">
            <div class="box-root box-background--gray100 animationLeftRight tans3s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 2 / 15 / auto / end;">
            <div class="box-root box-background--cyan200 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 3 / 14 / auto / end;">
            <div class="box-root box-background--blue animationRightLeft" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 4 / 17 / auto / 20;">
            <div class="box-root box-background--gray100 animationRightLeft tans4s" style="flex-grow: 1;"></div>
          </div>
          <div class="box-root flex-flex" style="grid-area: 5 / 14 / auto / 17;">
            <div class="box-root box-divider--light-all-2 animationRightLeft tans3s" style="flex-grow: 1;"></div>
          </div>
        </div>
      </div>
      <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
          <h1>Bistro - app</h1>
        </div>
        <div class="formbg-outer">
          <div class="formbg">
            <div class="formbg-inner padding-horizontal--48">
              <span class="padding-bottom--15">Add your restaurant</span>
              <form [formGroup]="form" id="stripe-login">
                <div class="field padding-bottom--24">
                  <label for="name">Restaurant Name</label>
                  <input 
                    type="text"
                    formControlName="restaurantName"
                    [ngClass]="{ 'is-invalid': submitted && r.restaurantName.errors}">
                </div>
                <div class="field padding-bottom--24">
                  <div class="grid--50-50">
                    <label for="description">Add description</label>
                  </div>
                  <input 
                    formControlName="description"
                    [ngClass]="{ 'is-invalid': submitted && r.description.errors}">
                </div>
                <div class="field padding-bottom--24">
                    <div class="grid--50-50">
                      <label for="Delivery">Open</label>
                    </div>
                    <input 
                      type="datetime"
                      formControlName="openingDay"
                      >
                  </div>
                  <div class="field padding-bottom--24">
                    <div class="grid--50-50">
                      <label for="Delivery">Close</label>
                    </div>
                    <input 
                      type="datetime"
                      formControlName="closingDay"
                      >
                  </div>
                  <div class="field padding-bottom--24">
                    <div class="grid--50-50">
                      <label for="opening">Opening time</label>
                    </div>
                    <input 
                    type="time"
                    formControlName="openingTime">
                  </div>
                  <div class="field padding-bottom--24">
                    <div class="grid--50-50">
                      <label for="opening">Closing time</label>
                    </div>
                    <input 
                    type="time"
                    formControlName="closingTime">
                  </div>
                  <div class="field padding-bottom--24">
                    <div class="grid--50-50">
                      <label for="address">Region of restaurant</label>
                    </div>
                    <input 
                      formControlName="region">
                  </div>
                  <div class="field padding-bottom--24">
                    <div class="grid--50-50">
                      <label for="address">Address</label>
                    </div>
                    <input 
                      formControlName="address">
                  </div>
                <div class="field padding-bottom--24">
                  <button type="button" class="btn-add" (click)="createRestaurant()" routerLink="/adding_food">Add restaurant</button><br>
                  <button type="reset" (click)="onReset()" class="btn-reset">
                    Reset
                  </button>
                </div>
                <div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>