<div>
    <div></div>
</div>
<div class="restaurants">
    <div>
       <h1>Pizza</h1> 
    </div>
    <div class="dominos-restaurant"><a routerLink="restaurantpage"></a>
        <mat-card class="card">
            <div>
                <img mat-card-image class="image" src="assets/img/restaurants/horizontal-visual-for-the-beggining-of-the-page-cb5504deff27faa468f07dc74591c5b0.jpg" alt="Restaurant photo">
            </div>
            <h3>Domino's pizza</h3>
        </mat-card>
    </div>
    <div class="Street-food">
        <mat-card class="card">
            <div>
                <img mat-card-image class="image" src="assets/img/restaurants/street-foodie.jpg">
            </div>
        </mat-card>
    </div>
</div>