.bg-primary {
    background-color: #ffb30e;
}

.py-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.overflow-hidden {
    overflow: hidden;
}

@media (min-width: 992px) {
    section {
        padding-top: 7.5rem;
        padding-bottom: 7.5rem;
    }

    .col-lg-6 {
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        width: 50%;
    }

    .fs-lg-6 {
        font-size: 2.98598rem;
    }
}

@media (min-width: 768) {
    .mt-md-0 {
        margin-top: 0;
    }

    .order-md-1 {
        -webkit-box-ordinal-group: 2;
        order: 1;
    }

    .text-md-start{
        text-align: left;
    }

    .col-md-7 {
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        width: 58.33333%;
    }

    .fs-md-5 {
        font-size: 2.48832rem;
    }
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
}

section {
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    max-width: 960px;
    width: 100%;
    padding-right: var(1rem);
    padding-left: var(1rem);
    margin-right: auto;
    margin-right: auto;
}

.flex-center {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.row {
    --bs-gutter-x: 2rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

a {
    color: #212121;
    text-decoration: none;
}

a:-webkit-any-link {
    cursor: pointer;
}

.img-landing-banner {
    overflow: hidden;
    transform: translateY(-3rem);
    margin-bottom: -8rem;
    transition: transform 0.4S ease, -webkit-transform 0.4s ease;
    position: relative;
    display: block;
}

.img-fluid {
    max-width: 100%;
}

img {
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.py-8 {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

.text-light {
    color: #f9fafd;
}

.display-1 {
    font-weight: 900;
    line-height: 1;
}

h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: "Source Sans Pro","Open Sans",-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.2;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

.text-800 {
    color: #616161;
}

.fs-4 {
    font-size: 2.0736rem;
}

.mb-5 {
    margin-bottom: 3rem;
}
