<nav *ngIf="!user; else loggedIn">
  <ul>
    <li><button (click)="triggerModal(loginData)">Sign In</button></li>
    <li><button (click)="triggerModal(registerData)">Sign Up</button></li>
  </ul>
</nav>

<ng-template #loginData let-modal class="modal_contents">
  <div class="container_login">
    <div class="pre-box">
      <div class="box">
        <h1>Login</h1>
        <form name="form" [formGroup]="loginGroup" (ngSubmit)="login()" novalidate>
          <div class="user">
            <input type="text" formControlName="username" id="username" placeholder="User name" required /><br>
            <input type="password" id="password" placeholder="Password" formControlName="password" required
              minlength="6" />
          </div>



          <div class="login-btn">
            <button routerLink="main-page" class="btn" (click)="test()">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #registerData let-modal>
  <div class="container">
    <div class="pre-box">
      <div class="box">
        <h1>Sign Up</h1>
        <form name="form" [formGroup]="registerGroup" (ngSubmit)="register()" novalidate>
          <div class="user">
            <input type="text" id="username" placeholder="User name" formControlName="username" required minlength="3"
              maxlength="20" />
            <input type="email" name="email" id="email" placeholder="Email Address" formControlName="email_address" />
            <input type="password" id="password" placeholder="Password" formControlName="password" required
              minlength="6" />
            <input type="text" name="address" id="address" placeholder="Address" formControlName="user_home_address" />
          </div>


          <div class="login-btn">
            <button class="btn" [disabled]="!registerGroup.valid">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loggedIn>
  <nav>
    <ul>
      <li><a routerLink="/">home</a></li>
      <li><a routerLink="/profile">Profile</a></li>
      <li><a routerLink="/adding_restaurant">Add restaurant</a></li>
      <li><a routerLink="/adding_food">Add food</a></li>
      <li><a [routerLink]="['/shopping_cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a></li>
    </ul>
  </nav>
</ng-template>