<div class="searchBar">
  <div class="search-Input">
    <ul class="menu-bar">
      <button class="btn btn-white shadow-warning text-warning" (click)="triggerModal(loginData)"><li>Sign In</li></button>
      <button class="btn btn-white shadow-warning text-warning" (click)="triggerModal(registerData)"><li>Sign Up</li></button>
      <ng-template>
        <li>TV Shows</li>
        <li>Sports</li>
        <li>Kids</li>
        <li>Library</li>
      </ng-template>
    </ul>	
  </div>
  <div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" placeholder="What are you looking for?">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>

<ng-template #registerData let-modal>
  <div class="container">
    <div class="pre-box">
      <div class="box">
        <h1>Sign Up</h1>
        <mat-form name="form" [formGroup]="registerGroup" (ngSubmit)="register()" novalidate>
          <div class="user">
            <input type="text" id="username" placeholder="User name" formControlName="username" required minlength="3" maxlength="20" autocomplete="false"/>
            <input type="email" name="email" id="email" placeholder="Email Address" autocomplete="false"/>
            <input type="password" id="password" placeholder="Password" formControlName="password" required minlength="6" autocomplete="false" autocomplete="false"/>
            <input type="text" name="address" id="address" placeholder="Address" autocomplete="false"/>  
          </div>
    
    
          <div class="login-btn">
            <button class="btn" [disabled]="!registerGroup.valid" (click)="register()">Register</button>
          </div>
        </mat-form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #loginData let-modal class="modal_contents">
  <div class="container_login">
    <div class="pre-box">
      <div class="box">
        <h1>Login</h1>
        <form name="form" [formGroup]="loginGroup" (ngSubmit)="login()" novalidate>
          <div class="user">
            <input type="text" formControlName = "username" id="username" placeholder="User name" required/><br>
            <input type="password" id="password" placeholder="Password" formControlName = "password" required minlength="6"/>
          </div>
    
    
    
          <div class="login-btn">
            <button  class="btn">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
