<div class="container">
  <div class="box">
    <h1>Login</h1>
    <form name="form" [formGroup]="loginGroup" (ngSubmit)="login()" novalidate>
      <div class="user">
        <i class="fas fa-user"></i>
        <input type="text" formControlName = "username" id="username" placeholder="User name" required/><br>
        <i class="fas fa-unlock-all"></i>
        <input type="password" id="password" placeholder="Password" formControlName = "password" required minlength="6"/>
      </div>
    </form>

    <div class="login-btn">
      <button type="submit" class="btn" [disabled]="!loginGroup.valid" (ngSubmit)="login()">Login</button>
    </div>
  </div>
</div>