<div class="col-md-12">
    <div class="card card-container">
      <form  name="form" [formGroup]="loginGroup" (ngSubmit)="login()" novalidate>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" formControlName = "username" required/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" formControlName = "password" required minlength="6"/>
        </div>
        <div class="form-group">
          <button [disabled]="!loginGroup.valid" data-modal-target="#modal" class="btn btn-primary btn-block">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>