<div class="container">
  <div class="box">
    <h1>Sign Up</h1>
    <form name="form" [formGroup]="registerGroup" (ngSubmit)="register()" novalidate>
      <div class="user">
        <i class="fas fa-user"></i>
        <input type="text" id="username" placeholder="User name" formControlName="username" required minlength="3" maxlength="20"/>
        <i class="fas fa-envelope"></i>
        <input type="email" name="email" id="email" placeholder="Email Address"/>
        <i class="fas fa-unlock-alt"></i>
        <input type="password" id="password" placeholder="Password" formControlName="password" required minlength="6"/>
        <i class="fas fa-unlock-alt"></i>
        <input type="password" name="password" id="password" placeholder="Confirm password">
      </div>
    </form>

    <div class="login-btn">
      <button class="btn">Register</button>
      <p class="signup">Already have and account ? <span>Log in</span></p>
    </div>
  </div>
</div>